<h1 class="mt-3">Pipes <small>Angular</small> </h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Variable </th>
                    <th> Pipe </th>
                    <th> Salida </th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td> {{ nombre2 }} </td>
                    <td> capitalizado </td>
                    <td> {{ nombre2 | capitalizado:true }} </td>
                </tr>

                <tr>
                    <td> {{ nombre }} </td>
                    <td> uppercase </td>
                    <td> {{ nombre | uppercase }} </td>
                </tr>

                <tr>
                    <td> {{ nombre }} </td>
                    <td> lowercase </td>
                    <td> {{ nombre | lowercase}} </td>
                </tr>

                <tr>
                    <td> {{ nombre }} </td>
                    <td> slice:3 </td>
                    <td> {{ nombre | slice:3 }} </td>
                    <!-- Corta las 3 primeras posiciones del nombre -->
                </tr>

                <tr>
                    <td> {{ nombre }} </td>
                    <td> slice:0:3 </td>
                    <td> {{ nombre | slice:0:3}} </td>
                    <!-- Corta desde la posición 0 hasta la 3 del nombre -->
                </tr>

                <tr>
                    <td> {{ personajes }} </td>
                    <td> slice:1:5 </td>
                    <td> {{ personajes | slice:1:5}} </td>
                    <!-- Corta desde la posición 1 hasta la 5 del arreglo -->
                </tr>

                <tr>
                    <td> {{ PI }} </td>
                    <td> number </td>
                    <td> {{ PI | number:'1.0-0' }} </td>
                    <!--Mostrar sin decimales-->
                </tr>

                <tr>
                    <td> {{ PI }} </td>
                    <td> number </td>
                    <td> {{ PI | number:'.0-2' }} </td>
                    <!--Mostrar 2 decimales-->
                </tr>

                <tr>
                    <td> {{ porcentaje }} </td>
                    <td> number </td>
                    <td> {{ porcentaje | percent }} </td>
                    <!--Mostrar porcentaje-->
                </tr>

                <tr>
                    <td> {{ salario }} </td>
                    <td> currency </td>
                    <td> {{ salario | currency }} </td>
                    <!--Mostrar salario en formato moneda -> $ -->
                </tr>

                <tr>
                    <td> {{ salario }} </td>
                    <td> currency:'EUR' </td>
                    <td> {{ salario | currency:'EUR' }} </td>
                    <!--Mostrar salario en formato moneda -> € -->
                </tr>

                <tr>
                    <td> {{ salario }} </td>
                    <td> currency:'CAD':'symbol':'.0-0' </td>
                    <td> {{ salario | currency:'CAD':'symbol':'.0-0' }} </td>
                    <!--Mostrar salario en formato moneda -> $ CANADIENSE sin decimales -->
                </tr>

                <tr>
                    <td> {{ valorPromesa }} </td>
                    <td> async </td>
                    <td> {{ valorPromesa | async }} </td>
                    <!-- Valor que devuelve la Promesa tras 4500ms (4,5 sgundos)-->
                </tr>

                <tr>
                    <td> {{ fecha }} </td>
                    <td> date </td>
                    <td> {{ fecha | date }} </td>
                    <!-- Pipe Fecha simple ->  -->
                </tr>

                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'medium' </td>
                    <td> {{ fecha | date:'medium' }} </td>
                    <!-- Pipe Fecha -> simple + hh:mm:ss -->
                </tr>

                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'short' </td>
                    <td> {{ fecha | date:'short' }} </td>
                    <!-- Pipe Fecha -> dd:mm:aa + hh:mm -->
                </tr>

                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'MMMM - dd' </td>
                    <td> {{ fecha | date:'MMMM - dd' }} </td>
                    <!-- Pipe Fecha -> personalizada -->
                </tr>

                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'MMMM - dd':'':'en' </td>
                    <td> {{ fecha | date:'MMMM - dd':'':'en' }} </td>
                    <!-- Pipe Fecha -> personalizada en inglés -->
                </tr>

                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'MMMM - dd':'':'fr' </td>
                    <td> {{ fecha | date:'MMMM - dd':'':'fr' }} </td>
                    <!-- Pipe Fecha -> personalizada en francés -->
                </tr>

                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'MMMM - dd':'':'{{ idioma }}'
                        <br>
                        <button (click)=" idioma = 'es' " class="mr-1 btn btn-primary">Español</button>
                        <button (click)=" idioma = 'en' " class="mr-1 btn btn-secondary">Inglés</button>
                        <button (click)=" idioma = 'fr' " class="mr-1 btn btn-success">Francés</button>

                    </td>
                    <td> {{ fecha | date:'MMMM - dd':'':idioma }} </td>
                    <!-- Pipe Fecha -> personalizada en base a valor de var idioma de app.ts según botón pulsado -->
                </tr>

                <tr>
                    <td> {{ nombre }} </td>
                    <td>
                        constrasenya: {{ activar }}
                        <button (click)="activar = !activar" class="btn btn-outline-primary">
                        Activar/Desactivar
                    </button>
                    </td>
                    <td> {{ nombre | contrasenya:activar }} </td>
                    <!-- Pipe constraseña personalizada -->
                </tr>

                <br>
                <h4>Slice <small>slice:2:20</small> </h4>
                <ul>
                    <li *ngFor="let item of personajes | slice:2:20"> {{ item }} </li>
                </ul>
                <!--Mostrar desde el 2 (ignora el 2) hasta el 20 (al haber menos de 20 lo hace hasta el último)-->

                <h3>JSON</h3>
                <hr>
                <div class="row mb-5">
                    <div class="col">
                        <pre>
                          {{ heroe | json }}
                        </pre>
                    </div>
                </div>

            </tbody>

        </table>
    </div>
</div>

<h3 class="mt-4">Dom Seguro</h3>
<hr>

<!-- PIPE domSeguro -->
<div class="row mb-5">
    <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>